<!--
<div class="my-6 h-screen items-center flex border-2 text-green-600 border-green-600 mx-5 flex-col ">
    <div class="flex-col border-2 flex   border-green-400 mt-10">
      <ul class="flex mx-10 cursor-default ">
        Filter by:
        <li class="mx-10 cursor-pointer hover:text-green-300 ">Visualitations</li>
        <li class="mx-10 cursor-pointer hover:text-green-300">Categories</li>
        <li class="mx-10 cursor-pointer hover:text-green-300">Time since upload</li>
        <li class="mx-10 cursor-pointer hover:text-green-300">Country</li>
        <li class="mx-10 cursor-pointer hover:text-green-300">Duration</li>
      </ul>
    </div>
    <div class="flex mt-6 flex-wrap">
      <div class="flex-auto p-6">
        1
      </div>
      <div class="flex-auto p-6">
        2
      </div>
      <div class="flex-auto p-6">
        3
      </div>
      <div class="flex-auto p-6">
        4
      </div>
    </div>
    
  </div>
-->
<app-carrusel></app-carrusel>