<form  [formGroup]="forms" >
    <div class=" my-6  h-screen justify-center items-center  flex">
        <div class="border-2 text-green-600 border-green-600 flex justify-center  w-4/6 h-4/6   ">
            <div class=" flex-col">
                <p class="text-3xl mx-24 my-16 rounded flex justify-center">Add Your new Moviee!!</p>            

                <p class="mx-24 my-10 border-2 border-green-600 p-3 ">Put the name of the moviee:<input class="ml-3 bg-green-300 text-black placeholder-black border-2 border-green-900 hover:bg-green-800 border-green-300" type="text" placeholder="Write here" name="" id=""> </p>
                <p class="mx-24 my-10 border-2 border-green-600 p-3">Put there to upload<input class="ml-3 text-black bg-green-300 placeholder-black border-2 border-green-900 hover:bg-green-800 border-green-300 " type="file" name=""  id=""></p>

                <span class="flex justify-end "><button class=" border-2 bg-green-600 text-sm  px-7 py-3 border-black text-black  hover:bg-black border-green-600 hover:text-green-300  ">Send</button></span>
            </div>
        </div>
       </div>
</form>