<form [formGroup]="form" (ngSubmit)="sendData()">
    <div class="h-screen">
        <div class="container flex flex-column justify-center items-center ">
            <p >Put there the name: <input type="text" formcontrolName="name"  id=""> </p>
            <p>Put there to upload: <input type="file"  id="" formcontrolName="video"></p>
            <p-multiSelect [options]="categories" optionLabel="name" formcontrolName="categories">sexo</p-multiSelect>
            <button type="submit">SEND</button>
        </div>
    </div>
    
</form>